version: "3.8"

services:
  investment-calculator:
    build:
      context: .
      platforms:
        - linux/amd64
        - linux/arm64
        - linux/riscv64
    ports:
      - "5173:80"
    restart: unless-stopped
    environment:
      - FLASK_ENV=production
